body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(7, 7, 57);
    color: azure;
    margin: 20px;
    text-align: center;
    background-repeat: repeat;
    background-image: url("background.png");
}

h1 {
    background-color: dimgray;
}

p, ul, ol, table {
    line-height: 1.5;
    text-align: left;
    max-width: 700px;
    margin: 0 auto 1em auto;
}

ul, ol {
    padding-left: 100px;
}

table {
    background-color: antiquewhite;
    color: black;
    width: 60%;
    margin: 0 auto 10px auto;
}

th,td {
    border: 2px solid black;
}

a {
    color: yellow;
}

a:hover {
    color: lawngreen;
}

img:hover {
    width: 900px;
}